name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:

  rustdoc:
    name: Build doc

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Rust Nightly
      uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: nightly
        override: true
        profile: minimal

    - name: Build rust doc
      run: cargo doc --all-features --no-deps
      env:
        RUSTDOCFLAGS: "--cfg docsrs"

  build:
    name: Build lib

    strategy:
      matrix:
        rust: [
            1.54.0,
            stable,
            nightly
        ]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Rust ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true
        profile: minimal

    - uses: Swatinem/rust-cache@v1.3.0

    - name: Build
      run: cargo build --verbose
